.expense-item__update {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border-radius: 12px;
}

.expense-item__update button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  padding: 0;
}

.expense-item__update button:hover,
.expense-item__update button:active {
  background-color: #510674;
  border-color: #510674;
}

@media (min-width: 580px) {

  .expense-item__update button {
    font-size: 1.25rem;
    padding: 0.25rem 0.75rem;
  }
}
