form.upgrade {
  background-color: hsl(254, 73%, 75%);
    padding: 1rem;
    margin: 0.5rem auto 2rem auto;
    border-radius: 12px;
}
.upgrade__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.upgrade__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.upgrade__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.upgrade__actions {
  text-align: right;
}

.upgrade__actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.upgrade__actions button:hover,
.upgrade__actions button:active {
  background-color: #510674;
  border-color: #510674;
}
