.new-expense {
  background-color: #d3e1ee;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: 1px solid rgb(29, 99, 111);
  background-color: rgb(29, 99, 111);
  color: white;
  border-radius: 3px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: rgb(25, 73, 83);
  border-color: rgb(25, 73, 83);
}

.new-expense button.alternative {
  color: #040404;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
